#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
    background-color: cyan;
    color: gold;
}
body{
    background-image: url("https://png.pngtree.com/thumb_back/fw800/back_our/20190628/ourmid/pngtree-polygonal-triangle-blue-wallpaper-background-image_264998.jpg");
}
.tr{
    background-color: gold;
    font-family: 'Jomhuria', cursive;
    color: coral;
}
.twp{
 background-color: gold;
    font-family: 'Jomhuria', cursive;
    color: coral;
}
.h{
 color: gold;
    border-style: ridge;
    border-color: chartreuse;
    border-width: 5px;
}